@import "tailwindcss";

@theme{
  --font-inter : 'Inter','sans-serif';
  --font-lobster : 'Lobster','sans-serif';
  --color-off-white : 	#FAF9F6;
}
@layer components{
  .get-recipe-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 2px;
    background: #F0EFEB;
    padding: 10px 20px;
  }

  .get-recipe-container h3 {
      font-size: 1.125rem;
      font-weight: 500;
      line-height: 24px;
  }

  .get-recipe-container p {
      color: #6B7280;
      font-size: 0.875rem;
      line-height: 20px;
  }

  .get-recipe-container button {
      border: none;
      border-radius: 2px;
      background: #D17557;
      box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
      color: #FAFAF8;
      padding: 9px 17px;
      font-family: Inter, sans-serif;
      font-size: 0.875rem;
      cursor: pointer;
  }

  
  .suggested-recipe-container {
      color: #475467;
      line-height: 30px;
     
      font-weight: 400;
  }

  .suggested-recipe-container ul li, .suggested-recipe-container ol li {
      margin-bottom: 8px;
  }
  .suggested-recipe-container ul{
    @apply list-disc pl-10
  }
  .suggested-recipe-container ol {
    @apply list-decimal pl-10
  }
  .suggested-recipe-container h3,h4,h2,strong {
    @apply font-semibold
  }
  .suggested-recipe-container {
    @apply text-sm md:text-lg
  }
}